appdirs==1.4.2
boto3==1.4.4
botocore==1.5.17
decorator==4.0.11
Django==1.10.5
docopt==0.6.2
docutils==0.13.1
ipython==5.2.2
ipython-genutils==0.1.0
jmespath==0.9.1
nltk==3.2.2
numpy==1.12.0
packaging==16.8
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
ptyprocess==0.5.1
pyaes==1.6.0
Pygments==2.2.0
pyparsing==2.1.10
python-dateutil==2.6.0
requests==2.13.0
s3transfer==0.1.10
secretcrypt==0.4.3
simplegeneric==0.8.1
six==1.10.0
slackclient==1.0.5
traitlets==4.3.2
Unidecode==0.4.20
wcwidth==0.1.7
websocket-client==0.40.0
wit==4.2.0
